@import "tailwindcss";

.section-padding{
  @apply lg:px-section-x-desktop lg:py-section-y-desktop md:px-section-x-tablet md:py-section-y-tablet px-section-x-mobile py-section-y-mobile;
}

.section-margin-y{
  @apply lg:my-section-y-desktop md:my-section-y-tablet my-section-y-mobile;
}

.section-heading{
  @apply lg:text-7xl md:text-5xl text-4xl text-center text-custom-gold lg:tracking-[15px] md:tracking-[10px] tracking-[5px] uppercase font-bold;
}

.body-text{
  @apply lg:text-sm font-body;
}

.icon-base{
  @apply hover:!text-custom-white transition-colors duration-500 !cursor-pointer;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* Your custom colors */
  --color-black: #0e0d0d;
  --color-gold: #ab8f31;
  --color-white: #eaeaea;

  /* Your custom spacing */
  --margin-section-x-desktop: 64px;
  --margin-section-y-desktop: 96px;
  --padding-section-x-desktop: 64px;
  --padding-section-y-desktop: 96px;

  --margin-section-x-tablet: 32px;
  --margin-section-y-tablet: 64px;
  --padding-section-x-tablet: 32px;
  --padding-section-y-tablet: 64px;

  --margin-section-x-mobile: 16px;
  --margin-section-y-mobile: 48px;
  --padding-section-x-mobile: 16px;
  --padding-section-y-mobile: 48px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-body: var(--font-body);
  --font-baskerville: var(--font-baskerville);
  --font-heading: var(--font-heading);
  
  /* Add your custom colors to the theme */
  --color-custom-black: var(--color-black);
  --color-custom-gold: var(--color-gold);
  --color-custom-white: var(--color-white);
  
  /* Padding spacing for Tailwind */
  --spacing-section-x-desktop: var(--padding-section-x-desktop);
  --spacing-section-y-desktop: var(--padding-section-y-desktop);
  --spacing-section-x-tablet: var(--padding-section-x-tablet);
  --spacing-section-y-tablet: var(--padding-section-y-tablet);
  --spacing-section-x-mobile: var(--padding-section-x-mobile);
  --spacing-section-y-mobile: var(--padding-section-y-mobile);

  /* Margin spacing for Tailwind */
  --spacing-margin-x-desktop: var(--margin-section-x-desktop);
  --spacing-margin-y-desktop: var(--margin-section-y-desktop);
  --spacing-margin-x-tablet: var(--margin-section-x-tablet);
  --spacing-margin-y-tablet: var(--margin-section-y-tablet);
  --spacing-margin-x-mobile: var(--margin-section-x-mobile);
  --spacing-margin-y-mobile: var(--margin-section-y-mobile);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-black);
  color: var(--foreground);
  font-family: var(--font-ubuntu);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1, h2 {
  font-family: var(--font-heading);
  font-weight: 600;
}